{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Processing Complete</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body class="upload-page flex-center">
    <div class="main-card">
        <div class="logo-section">
        </div>
        <h1 class="s2-title">Processing Complete</h1>
        <p class="s2-subtext">
            Resume file processed successfully.
        </p>

        <div class="llm-results">
            <h3>Results:</h3>
            {% if table_data %}
                <table class="results-table">
                    {% for row in table_data %}
                    <tr> 
                        <th>{{ row.label }}</th>
                        <td>{{ row.value|linebreaksbr }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% elif llm_results %}
                <div class= "raw-llm-response">
                    <pre>{{ llm_results }}</pre>
                </div>
            {% else %}
                <p>No results to display.</p>
            {% endif %}
        </div>

        {% if docx_path %}
        <div class="button-row">
            <a href="{{ docx_path }}" download class="uploadbutton">Download Formatted DOCX</a>
            <a href="/" class="uploadbutton">Process Another Resume</a>

        </div>
        {% endif %}

        
    </div>
</body>
</html>