<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="." />
    <add key="WSGI_HANDLER" value="tool.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="tool.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%home%\python39\python.exe"
                  arguments="-m gunicorn --bind 0.0.0.0:8000 tool.wsgi:application">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>